body {
  background-color: powderblue;
}

#names {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#menu {
  color: black;
}

#champ {
  font-weight: bold;
  font-size: 30px;
}

#fighter {
  text-decoration: underline;
}
